<div class="tl_listing_container parent_view">
	<div class="tl_fielpalette_indicator">{{ image|raw }}</div>
	<ul class="tl_listing">
		<li class="tl_content_header">
			<div class="tl_left"><img src="{{ labelIcon }}" width="16" height="16" alt=""> {{ label }} {% if mandatory == true %}<span class="mandatory">*</span>{% endif %}</div>
			<div class="tl_right"></div>
			<div style="clear:both;"></div>
		</li>
		{% if items|length > 0 %}
			<li class="tl_fieldpalette_wrapper">
				<ul class="tl_fieldpalette_wizard{% if sortable == true %} tl_fieldpalette_sortable{% endif %}" id="ul_fieldpalette_{{ id }}">
					{% for item in items %}
						{{ item|raw }}
					{% endfor %}
				</ul>
			</li>
		{% else %}
			<li>{% trans %}huh.fieldpalette.wizard.emptyList{% endtrans %}</li>
		{% endif %}


	</ul>
</div>