<a href="{{ href }}"
    {{ (cssClass ? 'class="' ~ cssClass ~ '"')|raw }}
    {{ (title ? 'title="' ~ title ~ '"')|raw }}
    {{ (accesskey is defined ? 'accesskey="' ~ accesskey ~ '"')|raw }}
    {{ attributes|raw }}
>
    {{ label|raw }}
</a>